
.toast-error {
    margin-top: 300px;
     background-color:#ffffff; 
     color: #721c24;
   }
   
   .toast-error .toast-title {
     color: #c52131; 
   }
   
   .toast-error .toast-message {
     color: #cf2839; 
   }
   
   
   .toast-success {
     background-color: #d4edda; 
     color: #155724; 
   }
   
   .toast-success .toast-title {
     color: #155724;  
   }
   
   .toast-success .toast-message {
     color: #155724; 
   }
   
   .toast-info .toast-message {
     color: #e67e07; 
   }
   
 
 
   .toast-info {
   
      background-color:#ffffff; 
  
    }